body {
  background-color: whitesmoke;
}

a{
  color : black;
}
h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top : 100px;  
}

.wrapper{
  width : 70%;
  position : relative;
  margin : 0 auto;
}
.wrapperCard{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 20px;
  /* flex-direction: row-reverse;
  justify-content: flex-end; */
}


input[type="submit"] {
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  /* margin-top:20px; */
  position: relative;
}

.newpost {
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: blueviolet;
  float:left;
  position: relative;
  display: inline;
  cursor: pointer;
}

.deleteBtn {
  width: 100px;
  background-color: blue;
  /* margin-bottom: 10px; */
  position: relative;
  right: 0px;
  padding-left:10px;
}

.editBtn {
  width: 100px;
  color: blue;
  border: 1px solid blue;
  margin-bottom: 10px;
  position: relative;
  right: 0px;
}

.wrapper-btn{
  display: flex;
  justify-content: center;
  /* flex-direction: row-reverse; */
}

a[href="/deletepost"]{
  padding-left:10px;
}


input[form=form-delete],
form[id=form-delete],
form[id=form-edit]{
  /* display: inline-block; */
  padding-left: 10px; 
  cursor: pointer;  
  /* justify-content: flex-end; */
}

table{
  padding-top : 30px;
}

#comment{
  display: flex;
  justify-content: space-between;
}

.commentBtn{
  width : 19%;
  cursor: pointer;
  background-color: blueviolet;
  transform: translateX(-50%);
  left: 50%;
  margin: 10px;
}

.commentForm{
  border: none;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 10px 10px 10px 20px;
  /* padding-right: 20px; */
  outline-style: none;
  width: 80%;
}

.commentForm:focus{
  border: 1px solid blueviolet;
}

.commentList{
  border-bottom: 1px solid lightgray;
}

.commentBox{
  margin-top: 20px;
  padding: 10px;
}

.title{
  display: inline-block;
  margin:0px;
}

.deleteList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}